/* красный основной */
.main {
  position: absolute;
  left: 345px;
  top: 262px;
  display: inline-flex;
  flex-direction: column;
}

 /* Текст */

h1 {
  margin: 159px 0 0 345px;
}

.second_block_of_menu p {
  color: #742B34;
}

.first_block_of_menu p {
  color: #3B3A68;
}

.third_block_of_menu p {
  color: #696B05;
}

.forth_block_of_menu p {
  color: #7E1F7B;
}

.fifth_block_of_menu p {
  color: #177E15;
}

.sixth_block_of_menu p {
  color: #B0B0B0;
}

.infoblock_for_small_blocks {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.small_count_of_something {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

.infoblock_for_big_blocks {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.big_count_of_something {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  display: flex;
  align-items: center;

  /* badge-big-red-text */

  color: #742B34;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* малые попорядку */
.first_block_of_menu {
  width: 200px;
  height: 160px;
  background: #8D8BFB;
  box-shadow: 0px 8px 24px 4px rgba(129, 135, 189, 0.85);
}

.second_block_of_menu {
  width: 480px;
  height: 160px;
  background: #FE5B6F;
  margin: 0 40px 0 40px;
  box-shadow: 0px 8px 24px 4px rgba(254, 91, 111, 0.85);
}

.third_block_of_menu {
  width: 200px;
  height: 160px;
  background: #F9FD49;
  box-shadow: 0px 8px 24px 4px rgba(249, 253, 73, 0.85);
}

.forth_block_of_menu {
  width: 480px;
  height: 160px;
  background: #E540DF;
  margin: 40px 40px 5px 0;
  box-shadow: 0px 8px 24px 4px rgba(229, 64, 223, 0.85);
}

.fifth_block_of_menu {
  width: 200px;
  height: 160px;
  background: #58EB54;
  margin: 40px 40px 5px 0;
  box-shadow: 0px 8px 24px 4px rgba(88, 235, 84, 0.85);
}

.sixth_block_of_menu {
  width: 200px;
  height: 160px;
  background: #222222;
  margin: 40px 0 5px 0;
  box-shadow: 0px 8px 24px 4px rgba(34, 34, 34, 0.85);
}

.first_block_of_menu, .second_block_of_menu, .third_block_of_menu, .forth_block_of_menu,
.fifth_block_of_menu, .sixth_block_of_menu {
  border-radius: 8px;
}

.small_block_for_info {
  width: 160px;
  height: 100px;
  margin: 30px 0 0 20px;
}

.infoblock_for_small_blocks {
  width: 100%;
  height: 36px;
}

.small_count_of_something {
  width: 160px;
  height: 47px;
  margin-top: 17px;
}

/* Большие внутренние блоки */
.biggest_block_for_info {
  width: 398px;
  height: 90px;
  margin: 35px 0 0 41px;
}

.infoblock_for_big_blocks {
  width: 294px;
  height: 36.4px;
}

.big_count_of_something {
  width: 398px;
  height: 48.5px;
  margin-top: 6.5px;
  padding-top: 4.25px;
}

.info_board {
  position: absolute;
  width: 473px;
  height: 43px;
  left: 345px;
  top: 159px;
  display: flex;
}

.info_board p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin-top: 0;

  align-items: center;

  color: #000000;
}
